* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

.cabecalho {
    display: flex;
    box-shadow: #011585 0px 0px 20px;
    height: 120px;
    position: relative;
    top: 0;    
    flex-wrap: wrap;
}

.menu__img {
    width: 50%;
    max-width: 30%;
}

.separar {
    width: 50%;
    max-width: 30%;
}

.cabecalho__ul {
    top: 0;
    left: 0%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.cabecalho__ul li:hover {
    background: #ffffff;
    transition: all 0.1s;
    border-top: 2px solid #011585;
    padding-top: 1px;
}

#menu1 {
    display: inline-block;
    margin: 25px;
    padding: 30px;
    border-top: 2px solid #011585;
}

#menu {
    display: inline-block;
    margin: 25px;
    padding: 30px;
}
/* 
li {
    display: inline;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: top;
    width: 100%;
    top: 0;
}

#conteudo__separar {
    float: left;
    max-width: 70%;
    max-height: 10%;
}

#conteudo__image {
    display: flex;
    align-items: center;
    width: 60%;
    position: relative;
    left: 20%;
    margin-top: 30px;
}

footer {
    background: #011585;
    color: rgb(255, 255, 255);
    bottom: 0%;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
}

.rodape__nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
}

a {
    color: #000000;
    text-decoration: none;
}

#rodape__nav__image {
    align-self: center;
}

.rodape__nav li:hover img {
    width: 40px;
    height: 40px;
    opacity: 0.8;
    padding: 5px;
    transition: all 0.3s;
}

#conteudo__text strong:hover {
    transition: font-size 0.1s ease;
    padding: 1px;
    font-size: 17px;
} */ 